challengeDate: 20251028
gameMode: "hard"
gems: 13330
gemsTotal: 13330
highestLevel: 1
lastCharacter: "jacklyn"
permsVersion: 3
replayCode: "LPAXHG"
statsDay: 20251028
statsVersion: 1
version: 1
welcomeGems: 25
achievements: {
    challenges1: 0
    challenges10: 0
    challenges100: 0
    kill1000: 65
    kill500: 65
    level1: -1
    stump_inspector: 0
}
challenges: {
    bombdamage10: 0
    nopowerups2: 0
    totaldamage25: 0
}
collectables: {
    bomb: 67108868
    bow: 16777228
    dealer: 301989890
    fireball: 16777218
    gem: 33554445
    gnome: 301989889
    goldbag: 67108867
    heart: 33554436
    jacklyn: 402653191
    mcdoodle: 301989891
    mcdoodle1: 301989895
    perm_extraheart1: 285212673
    punch: 16777221
    skeleton: 301989889
    spider: 301989907
    spikes: 67108865
    stat_more_purple: 134217729
    sword1: 16777220
}
collectables_new: {
}
highestLevels: {
    jacklyn: 1
}
highscores: {
    version: 2
    bombs_exploded: [
        {
            extra2: 7420823
            extra3: 1761683748
            level: 1
            player: "jacklyn"
            score: 3
        }
        {
            extra2: 7617836
            extra3: 1761682813
            level: 1
            player: "jacklyn"
            score: 2
        }
        {
            extra2: 590634
            extra3: 1761651314
            level: 1
            player: "jacklyn"
            score: 1
        }
    ]
    distance_ran: [
        {
            extra2: 7420823
            extra3: 1761683748
            level: 1
            player: "jacklyn"
            score: 262
        }
        {
            extra2: 7617836
            extra3: 1761682813
            level: 1
            player: "jacklyn"
            score: 175
        }
        {
            extra2: 590634
            extra3: 1761651314
            level: 1
            player: "jacklyn"
            score: 83
        }
    ]
    enemies_killed: [
        {
            extra2: 7420823
            extra3: 1761683748
            level: 1
            player: "jacklyn"
            score: 21
        }
        {
            extra2: 7617836
            extra3: 1761682813
            level: 1
            player: "jacklyn"
            score: 14
        }
        {
            extra2: 590634
            extra3: 1761651314
            level: 1
            player: "jacklyn"
            score: 7
        }
    ]
    most_gold: [
        {
            extra2: 590634
            extra3: 1761651314
            level: 1
            player: "jacklyn"
            score: 158
        }
        {
            extra2: 7420823
            extra3: 1761683748
            level: 1
            player: "jacklyn"
            score: 28
        }
        {
            extra2: 7617836
            extra3: 1761682813
            level: 1
            player: "jacklyn"
            score: 20
        }
    ]
}
leaderboard_bombs_exploded: [
    {
        extra1: 88575576
        extra2: 13912712
        extra3: 1761663519
        extra4: 0
        level: 0
        player: "Grimbardt"
        rank: 984
        score: 7
        sid: "76561198013853431"
    }
    {
        extra1: 88575576
        extra2: 15739440
        extra3: 1761663797
        extra4: 0
        level: 0
        player: "ivertho"
        rank: 985
        score: 7
        sid: "76561198012206371"
    }
    {
        extra1: 88575576
        extra2: 15815866
        extra3: 1761649304
        extra4: 0
        level: 0
        player: "Warrior89"
        rank: 986
        score: 7
        sid: "76561198011026193"
    }
    {
        extra1: 88575576
        extra2: 11550176
        extra3: 1761682207
        extra4: 0
        level: 0
        player: "kylehill"
        rank: 987
        score: 7
        sid: "76561198003835478"
    }
    {
        extra1: 88575576
        extra2: 5184454
        extra3: 1761682153
        extra4: 0
        level: 0
        player: "Zeitboy | Z31780Y"
        rank: 988
        score: 7
        sid: "76561198000718824"
    }
    {
        extra1: 88575576
        extra2: 8728258
        extra3: 1761656570
        extra4: 0
        level: 0
        player: "muztanger"
        rank: 989
        score: 7
        sid: "76561197992460343"
    }
    {
        extra1: 88575576
        extra2: 6037592
        extra3: 1761646718
        extra4: 0
        level: 0
        player: "Mike"
        rank: 990
        score: 7
        sid: "76561197990432650"
    }
    {
        extra1: 88575576
        extra2: 65626
        extra3: 1761645830
        extra4: 0
        level: 0
        player: "federal(rus)"
        rank: 991
        score: 7
        sid: "76561197988698223"
    }
    {
        extra1: 88575576
        extra2: 7678242
        extra3: 1761668797
        extra4: 0
        level: 0
        player: "daewa"
        rank: 992
        score: 7
        sid: "76561197986677860"
    }
    {
        extra1: 88575576
        extra2: 4856324
        extra3: 1761682073
        extra4: 0
        level: 0
        player: "Xanathor"
        rank: 993
        score: 7
        sid: "76561197977661321"
    }
]
leaderboard_distance_ran: [
    {
        extra1: 441716990
        extra2: 13650208
        extra3: 1761672570
        extra4: 0
        level: 0
        player: "d0udz"
        rank: 1213
        score: 536
        sid: "76561197960379809"
    }
    {
        extra1: 2079203709
        extra2: 525008
        extra3: 1761664337
        extra4: 0
        level: 0
        player: "Kalran"
        rank: 1214
        score: 535
        sid: "76561198021548067"
    }
    {
        extra1: 1518606923
        extra2: 10172030
        extra3: 1761664363
        extra4: 0
        level: 0
        player: "Saikaka"
        rank: 1215
        score: 525
        sid: "76561198096670511"
    }
    {
        extra1: 255439674
        extra2: 13847086
        extra3: 1761673393
        extra4: 0
        level: 0
        player: "YourSh1ttyTeammate"
        rank: 1216
        score: 524
        sid: "76561198009669050"
    }
    {
        extra1: 1238308530
        extra2: 5184454
        extra3: 1761682153
        extra4: 0
        level: 0
        player: "Zeitboy | Z31780Y"
        rank: 1217
        score: 520
        sid: "76561198000718824"
    }
    {
        extra1: 535738067
        extra2: 1706276
        extra3: 1761674165
        extra4: 0
        level: 0
        player: "Mike McPhil"
        rank: 1218
        score: 519
        sid: "76561198032012911"
    }
    {
        extra1: 211136035
        extra2: 4987576
        extra3: 1761663427
        extra4: 0
        level: 0
        player: "Snakesgun"
        rank: 1219
        score: 517
        sid: "76561198013224354"
    }
    {
        extra1: 1562910562
        extra2: 16669004
        extra3: 1761657505
        extra4: 0
        level: 0
        player: "Magapyu"
        rank: 1220
        score: 516
        sid: "76561198043870650"
    }
    {
        extra1: 1562910562
        extra2: 9975152
        extra3: 1761650892
        extra4: 0
        level: 0
        player: "MagmaShark5"
        rank: 1221
        score: 516
        sid: "76561198012779066"
    }
    {
        extra1: 958010137
        extra2: 2360916
        extra3: 1761664267
        extra4: 0
        level: 0
        player: "ezAim"
        rank: 1222
        score: 515
        sid: "76561199008806635"
    }
]
leaderboard_enemies_killed: [
    {
        extra1: 1860857335
        extra2: 16275248
        extra3: 1761669302
        extra4: 0
        level: 0
        player: "b4lz4k"
        rank: 1028
        score: 51
        sid: "76561198980574908"
    }
    {
        extra1: 1860857335
        extra2: 196878
        extra3: 1761678371
        extra4: 0
        level: 0
        player: "matsch"
        rank: 1029
        score: 51
        sid: "76561198111682816"
    }
    {
        extra1: 1860857335
        extra2: 4593820
        extra3: 1761682177
        extra4: 0
        level: 0
        player: "chriss.becker"
        rank: 1030
        score: 51
        sid: "76561198087623544"
    }
    {
        extra1: 1860857335
        extra2: 1115642
        extra3: 1761674794
        extra4: 0
        level: 0
        player: "illucky.jass"
        rank: 1031
        score: 51
        sid: "76561198082597288"
    }
    {
        extra1: 1860857335
        extra2: 5184454
        extra3: 1761682153
        extra4: 0
        level: 0
        player: "Zeitboy | Z31780Y"
        rank: 1032
        score: 51
        sid: "76561198000718824"
    }
    {
        extra1: 1860857335
        extra2: 3346926
        extra3: 1761645615
        extra4: 0
        level: 0
        player: "Dunpy"
        rank: 1033
        score: 51
        sid: "76561197978181749"
    }
    {
        extra1: 1860857335
        extra2: 8925136
        extra3: 1761667958
        extra4: 0
        level: 0
        player: "Jackal"
        rank: 1034
        score: 51
        sid: "76561197966553306"
    }
    {
        extra1: 1860857335
        extra2: 13059574
        extra3: 1761675161
        extra4: 0
        level: 0
        player: "Cpt. Retro"
        rank: 1035
        score: 51
        sid: "76561197960761925"
    }
    {
        extra1: 1860857335
        extra2: 13650208
        extra3: 1761672570
        extra4: 0
        level: 0
        player: "d0udz"
        rank: 1036
        score: 51
        sid: "76561197960379809"
    }
    {
        extra1: 660063364
        extra2: 6168844
        extra3: 1761682250
        extra4: 0
        level: 0
        player: "Squirtle"
        rank: 1037
        score: 50
        sid: "76561198087319432"
    }
]
leaderboard_most_gold: [
    {
        extra1: 544562257
        extra2: 12525971
        extra3: 1761683673
        extra4: 0
        level: 3
        player: "bergner"
        rank: 1395
        score: 288
        sid: "76561197993744185"
    }
    {
        extra1: 544562257
        extra2: 5508804
        extra3: 1761648483
        extra4: 0
        level: 3
        player: "DorianGray"
        rank: 1396
        score: 288
        sid: "76561197971006392"
    }
    {
        extra1: 202311845
        extra2: 2165658
        extra3: 1761678207
        extra4: 0
        level: 2
        player: "Yannick S"
        rank: 1397
        score: 287
        sid: "76561198128360954"
    }
    {
        extra1: 1976358442
        extra2: 4790698
        extra3: 1761670275
        extra4: 0
        level: 3
        player: "Deathskipt/Akaspucki"
        rank: 1398
        score: 287
        sid: "76561198104612139"
    }
    {
        extra1: 949185947
        extra2: 4528194
        extra3: 1761681235
        extra4: 0
        level: 1
        player: "Zeitboy | Z31780Y"
        rank: 1399
        score: 286
        sid: "76561198000718824"
    }
    {
        extra1: 1571734752
        extra2: 16537752
        extra3: 1761668043
        extra4: 0
        level: 2
        player: "RegeM"
        rank: 1400
        score: 286
        sid: "76561197979149911"
    }
    {
        extra1: 824860650
        extra2: 12665818
        extra3: 1761659587
        extra4: 0
        level: 2
        player: "Test Subject"
        rank: 1401
        score: 284
        sid: "76561198013415383"
    }
    {
        extra1: 1571734752
        extra2: 14831476
        extra3: 1761676873
        extra4: 0
        level: 4
        player: "Darkstar"
        rank: 1402
        score: 284
        sid: "76561197971715144"
    }
    {
        extra1: 1696060049
        extra2: 3018796
        extra3: 1761662784
        extra4: 0
        level: 3
        player: "Jomora"
        rank: 1403
        score: 282
        sid: "76561198003827240"
    }
    {
        extra1: 1852033145
        extra2: 1771902
        extra3: 1761669390
        extra4: 0
        level: 2
        player: "raZer"
        rank: 1404
        score: 281
        sid: "76561198004875089"
    }
]
mcdoodle: {
    jacklyn: {
        1: 1761683748
    }
}
perms: [
    "perm_extraheart1"
]
totalStats: {
    bomb_count: 0
    bombs: 3
    bought_destiny_card: 0
    chainsaw_count: 0
    coin_well: 0
    died: 0
    dist_left: 0
    dist_ran: 262
    freeze_count: 0
    gems: 13
    gems_from_challenges: 0
    gold: 206
    gold_from_bags: 0
    gold_from_quests: 0
    hearts: 4
    levels_ran: 3
    levers: 0
    max_level: 1
    melee_count: 1
    punch: 3
    quests_completed: 0
    ranged_count: 20
    reaper_freeze: 0
    reaper_immolate: 0
    streak_length: 5
    time: 167.351
    total_damage: 5.25
    total_damage_done: 39
    total_dist_ran: 262
    total_kills: 21
    biomes_visited: {
        grass: 3
    }
    damage_from: {
        bomb: 0.25
        spider: 4
        spikes: 1
    }
    damage_to: {
        gnome: 2.5
        skeleton: 2.5
        spider: 34
    }
    damage_type: {
        bomb: 0.25
    }
    killed_by: {
    }
    kills: {
        gnome: 1
        skeleton: 1
        spider: 19
    }
    powerups: {
        bow: 11
        fireball: 2
        sword1: 4
    }
    quest_items: {
    }
}
